@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
       
        <br />

        <h3 class="text-justify">⚡️Mini Bio:</h3>
        <hr />
        
        <br />

        <h3 class="text-justify">💾 Informações Pessoais:</h3>
        <hr />
        <dl>
            <dt>Nome: Renato</dt>
        </dl>
        
        <dl>
            <dt>Blog/Site Técnico: <a href="https://renatogondin.info">renato</a></dt>
        </dl>
        
            <dt>GitHub: <a href="https://github.com/renatogondin">renato</a></dt>
       
        
        <br />

        <h3>📋 Palavras Finais:</h3>
        <p class="text-justify">
              
        </p>
    </div>
</div>
