@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Workshop - ASP.NET Core </h1>
        
    </div>
    <hr class="m-y-md">
    <p>Não deixe de acompanhar mais vídeos Tutoriais como esse!</p>
    <p class="lead">
       
    </p>
</div>